Podfile.lock
AndClyde.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
AndClyde.xcodeproj/project.xcworkspace/xcuserdata/anivanov.xcuserdatad/IDEFindNavigatorScopes.plist
AndClyde.xcworkspace/contents.xcworkspacedata
AndClyde.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
AndClyde.xcworkspace/xcshareddata/swiftpm/Package.resolved

*.xcuserstate
